<%# add navigation links to this file %>
<ul class="right">
  <% if user_signed_in? %>
      <li class="has-dropdown">
        <a href="#">User Name Goes Here!</a>
        <ul class="dropdown">
          <li><%= link_to 'Edit account', edit_user_registration_path %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
        </ul>
      </li>

  <% else %>
      <li class="active"><%= link_to 'Register', new_user_registration_path %></li>
      <li><%= link_to 'Log In', new_user_session_path %></li>
  <% end %>
</ul>
<li><%= link_to 'About', page_path('about') %></li>
<li><%= link_to 'Past Winners', page_path('winners') %></li>
<li><%= link_to 'Sponsors', page_path('sponsors') %></li>
<li><%= link_to 'Contact', page_path('contact')%></li>

